/* HEADER */
header {
  background-image: url('./assets/dish2.png');
  background-size: cover;
  min-height: 700px;
  width: 100%;
  background-position: 0 60%;
  overflow: hidden;
  border: 20px solid #335912;
}

/* NAV */
.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #335912;
  margin-bottom: 20px;
}
.nav > .link {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 5px 10px;
}
.nav > .link:hover {
  color: #fbd967;
}
/* search */
input {
  margin-left: 30px;
  padding-left: 10px;
  width: 250px;
  height: 40px;
  border: 2px solid #335912;
  border-radius: 20px 0 0 20px;
}
button {
  background-color: #335912;
  color: white;
  height: 40px;
  border: 2px solid #335912;
  border-radius: 0 20px 20px 0;
}

/* HOME PAGE */
.home-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.detail-outer {
  text-decoration: none;
  color: #1f330e;
  background-color: #e2e2e2;
}
.detail-outer:hover {
  color: #335912;
}
.detail {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.detail > .detail-text {
  width: 70%;
  padding-right: 15px;
}
.seperate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  width: 100%;
  height: 100px;
  background-color: #335912;
}
.seperate button, .seperate input {
  border-color: #e1c463;
}
.seperate button {
  background-color: #e1c463;
}
.search-message {
  font-size: 1.7rem;
  padding-right: 40px;
  color: white;
}
.small-outer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  color: #1f330e;
}
.small-outer:hover {
  color: #335912;
}
.small-card {
  cursor: pointer;
  width: 255px;
}
.small-meal {
  width: 255px;
}
.small-meal > .small-head {
  font-size: 1.2rem;
}
.small-img {
  width: 250px;
  border: 2px solid #1f330e;
}


/* List Components */
.countries, .meals, .categories, .catergory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content:  center;
  grid-gap: 20px;
  /* width: fit-content; */
}
.list > .link {
  color: #1f330e;
}
.list > .link:hover {
  color: #335912;
}
.page-title {
  margin: 40px auto;
  grid-column: span 3;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.detail {
  border: black 1px solid;
}

.random-img {
  width:300px
}

li {
  list-style: none;
}

@media screen and (max-width: 830px){
  header {
    min-height: 450px;
    background-position: 0 70%;
    overflow: hidden;
  }
  .countries, .meals, .categories, .catergory {
    display: flex;
    flex-wrap: wrap;
  }
  .page-title {
    width: 100%;
    text-align: center;
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 5px solid orange; */
    /* background-color: lightblue; */
  }
  .seperate {
    display: flex;
    flex-direction: column;
  }
  .search-message {
    padding-right: 0;
    font-size: 1.2rem;
    padding-bottom: 2px;
  }
}

@media screen and (max-width: 480px){
  header {
    min-height: 200px;
    background-position: 0 70%;
    overflow: hidden;
    border-width: 10px;
  }
  .countries, .meals, .categories, .catergory {
    display: flex;
    flex-wrap: wrap;
  }
  .page-title {
    width: 100%;
    text-align: center;
  }
  .nav > .link {
    font-weight: normal;
    font-size: .5rem;
  }
  .nav {
    margin-bottom: 5px;
  }
  .small-outer {
    flex-direction: column;
    align-items: center;
    width: 255px;
  }
  input {
    font-size: .7rem;
    height: 25px;
    width: 150px;
  }
  button {
    height: 25px;
    font-size: .7rem;
  }
}
