/* HEADER */
header {
  background-image: url('./assets/dish2.png');
  background-size: cover;
  min-height: 700px;
  width: 100%;
  background-position: 0 70%;
  overflow: hidden;
}

/* NAV */
.nav {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: flex-end;
  background-color: #335912;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 5px 10px;
}
.link:hover {
  color: #fbd967;
}

/* List Components */
.countries, .meals, .categories, .catergory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: fit-content;
  /* border: 2px solid red; */
}
.page-title {
  margin: 40px auto;
  grid-column: span 3;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.detail {
  border: black 1px solid;
}

.random-img {
  width:300px
}

li {
  list-style: none;
}



